@keyframes animGrad {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 00%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}

@keyframes appear {
  to {
    visibility: visible;
  }
}

/* Media query to check if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  #tsparticles {
    display: none;
  }
  * {
    animation: none !important; /* Disable animation */
    transition: none !important; /* Disable transitions */
  }
  body {
    background: var(--background-color);
  }
}
