.home-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.home-content > *:not(.home-row) {
  margin: 1vh 0;
}

.home-text-up,
.home-text-mid,
.home-text-down {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid var(--text-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end infinite;
}

.home-text-mid {
  visibility: hidden;
  animation: typing 4s steps(50, end) 1.5s, blink-caret 0.75s step-end infinite 3s, appear 0s 1.5s forwards;
}

.home-text-down {
  visibility: hidden;
  animation: typing 4s steps(50, end) 2.5s, blink-caret 0.75s step-end infinite 3s, appear 0s 2.5s forwards;
}

.home-image {
  max-width: 50%;
  filter: drop-shadow(2px 2px 8px white);
  border-radius: 3px;
  opacity: 0.85;
}
