:root {
  --background-color: #340a38;
  --background-color2: #09203f;
  --text-color: #d3d3d3;

  --h1: clamp(2rem, 6vw, 3rem);
  --h2: clamp(1.75rem, 5vw, 2.5rem);
  --h3: clamp(1.5rem, 4vw, 2rem);
  --h4: clamp(1.25rem, 3vw, 1.5rem);
  --h5: clamp(1rem, 2vw, 1.25rem);
  --h6: clamp(0.875rem, 1.5vw, 1rem);
  --p: clamp(1rem, 1.5vw, 1.125rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  line-height: 1.5;
  font-size: 16px;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  min-height: 100svh;
  /* background: linear-gradient(45deg, #000000, #09203f, #340a38); */
  background: var(--background-color);
  background-size: 600% 600%;
  animation: animGrad 10s ease infinite;
}

/* main {
  display: flex;
  justify-content: center;
}
content {
  max-width: 80%;
} */

h1 {
  font-size: var(--h1); /* Minimum 32px, scaling with viewport, maximum 48px */
}

h2 {
  font-size: var(--h2); /* Minimum 28px, scaling with viewport, maximum 40px */
}

h3 {
  font-size: var(--h3); /* Minimum 24px, scaling with viewport, maximum 32px */
}

h4 {
  font-size: var(--h4); /* Minimum 20px, scaling with viewport, maximum 24px */
}

h5 {
  font-size: var(--h5); /* Minimum 16px, scaling with viewport, maximum 20px */
}

h6 {
  font-size: var(--h6); /* Minimum 14px, scaling with viewport, maximum 16px */
}

p {
  font-size: var(--p);
}

a {
  text-decoration: none;
  /* font-size: clamp(1rem, 1.5vw, 2rem); */
}

hr {
  width: 75%;
  margin: 3.5vh auto;
}

.table {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.row-single {
  margin: auto;
  width: 85%;
  max-width: 1080px;
}

.row-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 95%;
}
