<header>
  <img src="/logo_personal_white_crop.png" alt="Luca's logo" class="header-logo" />

  <div class="header-icons">
    <a
      href="https://social.vivaldi.net/@LucaManciniDrummer"
      class="header-link"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa-brands fa-mastodon"></i
    ></a>
    <a href="https://www.lucamancini.com/catalogue/" class="header-link" target="_blank" rel="noopener noreferrer"
      ><i class="fa-solid fa-music"></i
    ></a>
    <a href="https://lucamancini.bandcamp.com/" class="header-link" target="_blank" rel="noopener noreferrer"
      ><i class="fa-brands fa-bandcamp"></i
    ></a>
    <a href="https://www.youtube.com/c/LucaMancini" class="header-link" target="_blank" rel="noopener noreferrer"
      ><i class="fa-brands fa-youtube"></i
    ></a>
    <a
      href="https://www.instagram.com/luca.mancini.drummer/"
      class="header-link"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>

  {{ partial "menu.html" . }}
</header>
