<nav class="header-menu">
  <input type="checkbox" id="menu-check" />
  <label class="menu-open" for="menu-check"><i class="bi bi-dice-3"></i></label>
  <label class="menu-overlay" for="menu-check"></label>
  <ul class="menu-list">
    <label class="menu-close" for="menu-check"><i class="bi bi-dice-1"></i></label>
    <li class="menu-item">
      <a href="https://www.lucamancini.com/hire-me/">Hire me!</a>
    </li>
    <li class="menu-item">
      <a href="https://www.lucamancini.com/projects/">Projects</a>
    </li>
    <li class="menu-item">
      <a href="https://www.lucamancini.com/contacts/">Contacts</a>
    </li>
  </ul>
</nav>
